@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat+Subrayada|Raleway:400,400i,500|Tomorrow:400,400i,500&display=swap');

$enable-responsive-font-size: true;
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  body {
    background: #ffffff;
    header {
      height: 100vh;
      width: 100%;
      background: url("../img/204.jpg") no-repeat, 100%;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      @media (max-width: 740.98px) {
        padding-bottom: 100px;
        height: 100vh;
      }
      @media (max-width: 575.98px) {
        height: 100vh;
        background: url("../img/bg-mob.jpg") no-repeat, 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
      }
      .cv_layer {
        background: rgba(2, 2, 2, 0.35);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        @media (max-width: 767.98px) {
          height: 100vh;
        }
        @media (max-width: 575.98px) {
          height: 100vh;
        }

      }
      .cv_head_nav {
        background: #ff512f;
        background: -webkit-linear-gradient(to left, rgba(240, 152, 25, 0.99), rgb(255, 75, 55));
        background: linear-gradient(to left, rgba(240, 152, 25, 0.99), rgba(255, 21, 31, 0.99));
        animation: fadeIn 1s ease-in both;
        height: 60px;
        width: 80%;
        margin: 0 auto;
        padding: 6px;
        @media (max-width: 1119.98px) {
          height: 8%;
          width: 100%;
        }

        @media (max-width: 991.98px) {
          width: 100%;
          height: 8%;

        }
        @media (max-width: 767.98px) {
          width: 100%;
          height: 5%;
        }
        @media (max-width: 575.98px) {
          width: 100%;
          height: 5%;
        }
        .cv_head_nav__elem {
          animation: fadeIn 1.5s ease-in both;

          @media (max-width: 1300.98px) {
            padding: 0;

          }

          @media (max-width: 991.98px) {
            padding: 0;
            margin: 0 auto;
          }
          @media (max-width: 767.98px) {
            width: 80px;
            margin: 0 auto;
          }
          @media (max-width: 575.98px) {
            width: 50px;
            margin: 0 auto;
          }

          a {
            font-size: 1.3rem;
            font-family: 'Montserrat Subrayada', sans-serif;
            color: #e2e3e5;
            font-weight: lighter;
            height: 45px;
            text-align: center;
            margin-right: 30px;
            &:focus {
              background: #040505;
              color: #f8f4ff;
            }
            &:hover {
              background: #040505;
              color: #f8f4ff;
            }
            @media (max-width: 991.98px) {
              padding: 0;
              margin: 0 auto;
            }
            @media (max-width: 767.98px) {
              width: 100%;
              font-size: 0.5rem;
              padding-top: 1%;
              height: 15px;
              justify-content: space-around;

            }
            @media (max-width: 575.98px) {
              width: 100%;
              font-size: 0.5rem;
              padding: 3%;
              height: 15px;
            }

          }
        }

        @media (max-width: 767.98px) {
          height: 30px;
          width: 100%;
        }
        @media (max-width: 575.98px) {
          width: 100%;
          height: 30px;
        }
      }

      .cv_header_title {
        font-size: 5.9vw;
        margin: 0 auto;
        text-align: center;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 15%;
        color: rgb(255, 237, 246);
        animation: fadeIn 1s ease-in both;
        @media (min-height: 920.98px) {
          padding-top: 200px;
          font-size: 4.5vw;
        }
        @media (max-width: 767.98px) {
          font-size: 30px;
          padding-top: 10%;
        }
        @media (max-height: 740.98px) {
          padding-top: 100px;
          font-size: 45px;
        }
        @media (max-width: 575.98px) {
          padding-top: 75px;
          font-size: 36px;
        }
        @media (max-width: 320.98px) {
          font-size: 25px;
          padding-top: 25%;
        }
      }
      img {
        height: 100%;
        width: 25%;
        display: block;
        margin: 0 auto;
        padding-top: 1%;
        animation: fadeIn 1.5s ease-in both;
        @media (max-height: 720.98px) {
          width: 20%;
        }
        @media (max-width: 767.98px) {
          width: 15%;
          height: 10%;
          padding-top: 10px;
        }
        @media (max-width: 575.98px) {
          width: 40%;
          padding-top: 50px;
        }
        @media (max-width: 320.98px) {
          padding-top: 25px;
        }
      }
      .cv_header_text {
        color: #ffedf6;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 3%;
        font-family: 'Lobster', cursive;
        font-weight: bold;
        animation: fadeIn 1s ease-in both;
        font-size: 2.1vw;
        @media (min-height: 920.98px) {
          font-size: 30px;
        }
        @media (max-width: 767.98px) {
          font-size: 15px;
          padding-top: 2%;
          margin-bottom: -15px;
        }
        @media (max-height: 720.98px) {
          font-size: 2.5vw;
        }
        @media (max-width: 575.98px) {
          font-size: 20px;
          padding-bottom: 50px;
          padding-top: 50px;
        }
        @media (max-width: 320.98px) {
          padding-top: 25px;
          font-size: 15px;
        }
      }
      .cv_header__btn {
        margin: 0 auto;
        text-transform: uppercase;
        font-family: 'Montserrat Subrayada', sans-serif;
        height: 50px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        color: #ffffff;
        background: rgba(255, 81, 47, 0.85);
        background: -webkit-linear-gradient(to left, rgba(240, 152, 25, 0.77), rgba(255, 75, 55, 0.84));
        background: linear-gradient(to left, rgba(240, 152, 25, 0.81), rgba(255, 49, 38, 0.89));
        animation: fadeIn 1s ease-in both;
        &:hover {
          background: #ffffff;
          color: #000000;
        }

        @media (max-width: 767.98px) {
          height: 25px;
          font-size: 15px;
          padding: 0;
          margin: 0 auto;
        }
        @media (max-height: 720.98px) {
          height: 40px;
          font-size: 20px;
          padding: 5px;
          margin: 0 auto;
        }
        @media (max-width: 575.98px) {
          font-size: 18px;
          padding-top: 10px;
          height: 50px;

        }
      }
    }

    .cv_about {
      max-width: 100%;
      background: url("../img/transparent-cigarette-smoke.png") no-repeat 60% 10%;
      background-size: 60%;
      padding-bottom: 3%;
      padding-top: 5%;
      height: 100vh;
      @media (max-width: 767.98px) {
        height: 100%;
      }
      @media (max-width: 575.98px) {
        height: 100%;
      }
      h2 {
        font-family: 'Lobster', cursive;
        padding-top: 15%;
        color: rgb(56, 56, 56);
        font-size: 4rem;
        text-align: right;
        @media (max-width: 767.98px) {
          font-size: 2.5rem;
          padding-top: 10px;
          text-align: left;
          padding-bottom: 100px;
        }
        @media (max-width: 575.98px) {
          font-size: 2.5rem;
          font-weight: bold;
          text-align: center;
          padding: 20px;
        }
      }
      img {
        margin-top: -50px;
        max-width: 100%;
        height: 350px;
        border-radius: 5%;
        -webkit-box-shadow: #8f25ff 0 -1px 4px, #ffc424 0 -2px 10px, #ff6923 0 -10px 20px, #f09819 0 -18px 40px, 40px 28px 35px 22px rgba(0,0,0,0.22);
        box-shadow: #a22aff 0 -1px 4px, #ff0 0 -2px 5px, #ff6923 0 -5px 10px, #ff151f 0 -18px 40px, 40px 28px 35px 22px rgba(0,0,0,0.22);
        @media (max-width: 767.98px) {
          width: 30%;
          height: 30%;

        }
        @media (max-width: 575.98px) {
          margin: 0 auto;
          height: 350px;
          width: 80%;
        }
      }
      p {
        width: 72%;
        padding-left: 3%;
        margin: 0 auto;
        text-align: right;
        font-family: 'Raleway', sans-serif;
        @media (max-width: 767.98px) {
          width: 60%;

        }
        @media (max-width: 575.98px) {
          text-align: left;
          width: 85%;
          padding-top: 10%;
        }
      }

    }

    .cv_skills {
      padding-top: 10%;
      padding-bottom: 5%;
      .cv_skills_title {
        font-family: 'Lobster', cursive;
        font-weight: bold;
        color: rgb(56, 56, 56);
        padding-bottom: 10%;
        font-size: 4rem;
        text-align: left;
        @media (max-width: 575.98px) {
          font-size: 2.5rem;
          text-align: center;
          padding: 20px;
          margin: 0 auto;
        }
      }
      .cv_skills_elem {
        padding-bottom: 10%;
        img {
          height: 500px;
          width: 500px;
          @media (max-width: 575.98px) {
            padding-bottom: 10px;
            height: 300px;
          }
        }
        h3 {
          font-family: 'Tomorrow', sans-serif;
          font-weight: bold;
        }
        p {
          font-family: 'Raleway', sans-serif;
          font-size:18px;
        }
        a{
          font-family: 'Raleway', sans-serif;
        }
      }

    }

    main {
      height: 100%;

      .cv_works {
        height: 100%;

        h2 {
          font-family: 'Lobster', cursive;
          font-weight: bold;
          padding-top: 5%;
          padding-bottom: 1%;
          color: rgb(56, 56, 56);
          font-size: 4rem;
          text-align: center;
          @media (max-width: 575.98px) {
            font-size: 2.5rem;
            width: 100%;
            text-align: center;
            padding: 20px;
          }
        }
        p {
          text-align: center;
          margin: 0 auto;
          font-size: 20px;
          font-family: 'Raleway', sans-serif;
          padding-bottom: 1%;
          @media (max-width: 575.98px) {
            font-size: 1rem;

          }
        }
        .cv_works_slider {
          width: 50%;
          margin: 0 auto;

          @media (max-width: 575.98px) {
            width: 100%;

          }

          .cv_works_layer {
            background: rgba(16, 16, 16, 0.28);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
          }
          .carousel-item {
            h3 {
              font-size: 18px;
            }
            .cv_slider__btn {
              background: rgb(255, 81, 47);
              background: -webkit-linear-gradient(to left, rgb(240, 152, 25), rgb(255, 75, 55));
              background: linear-gradient(to left, rgb(240, 152, 25), rgb(255, 49, 38));
              font-family: 'Montserrat Subrayada', sans-serif;
              font-weight: bold;
              border: none;
              width: 20%;
              &:hover {
                background: #ffffff;
                color: #000000;
              }
              @media (max-width: 575.98px) {
                display: inline-block;
                width: 50px;
                height: 20px;
                overflow: visible;
                font-size: 10px;
                padding: 1%;
              }
            }
            img {
              width: 100%;
              height: 700px;
              @media (max-width: 575.98px) {
                height: 400px;
              }
            }
          }

        }

      }
      .cv_resume {
        padding-top: 10%;
        height: 100%;
        h2 {
          padding-bottom: 100px;
          margin: 0 auto;
          font-family: 'Lobster', cursive;
          font-weight: bold;
          text-align: center;
          color: rgb(56, 56, 56);
          font-size: 4rem;
          @media (max-width: 575.98px) {
            font-size: 2.5rem;
            padding: 20px;
          }

        }
        .cv_resume_tabs {
          height: 680px;
          .cv_resume_tabs__elem {
            background: rgba(255, 81, 47, 0.85);
            background: -webkit-linear-gradient(to left, rgba(240, 152, 25, 0.77), rgba(255, 75, 55, 0.84));
            background: linear-gradient(to left, rgba(240, 152, 25, 0.81), rgba(255, 49, 38, 0.89));
            font-family: 'Montserrat Subrayada', sans-serif;
            font-weight: bold;
            color: #e2e3e5;
            margin-bottom: 20%;
            border-radius: 10px;
            text-align: center;
            &:hover {
              background: #000000;
              color: rgba(255, 75, 55, 0.84);
            }
            &:focus {
              background: #000000;
              color: rgba(255, 75, 55, 0.84);
              border: 3px solid rgba(255, 75, 55, 0.84);
            }
            @media (max-width: 575.98px) {
              font-size: 0.7rem;
              height: 50px;
              width: 130px;
              &:focus {
                border: 2px solid rgba(255, 75, 55, 0.84);
              }
            }
            @media (max-width: 325.98px) {
              font-size: 0.6rem;
              height: 50px;
              width: 100px;
              text-align: center;
            }
          }
        }
        .cv_resume_tabs__cont {
          width: 100%;
          .cv_resume_cont__text {
            padding-left: 10%;
            h3 {
              font-family: 'Raleway', sans-serif;
              font-weight: 700;
              padding-bottom: 20px;
              font-size: 25px;
              @media (max-width: 575.98px) {
                font-size: 20px;
              }

            }
            p {
              font-family: 'Raleway', sans-serif;
              @media (max-width: 575.98px) {
                font-size: 15px;
              }

            }

            .cv_resume__cont__text-img {
              height: 200px;
              padding-bottom: 20px;
              padding-right: 10px;
              @media (max-width: 575.98px) {
                height: 100px;
                padding: 0;
              }
            }
          }
          .cv_resume_modal {
            display: inline-block;
            width: 35%;
          }
          #modalImg {
            img {
              height: 700px;
            }
          }
          #modalImg2 {
            img {
              height: 700px;
            }
          }
        }
      }
    }
    .cv_contact {
      background: url("../img/kyiv-city-at-night-ukraine-3.jpg") no-repeat, 100%;
      height: 100%;
      color: white;
      background-size: cover;
      padding-bottom: 2%;
      background-position: center center;
      @media (max-width: 575.98px) {
        height: 100%;
        padding-bottom: 5%;

      }
      h2 {
        margin: 0 auto;
        font-family: 'Lobster', cursive;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 4rem;
        padding-top: 8%;
        padding-bottom: 5%;
        @media (max-width: 575.98px) {
          font-size: 2.5rem;
          padding: 20px;
        }
      }
      form {
        @media (max-width: 575.98px) {
          margin: 0 auto;
        }
        .cv_forms__pos {

          @media (max-width: 575.98px) {
            margin: 0 auto;
            padding-bottom: 5%;
          }
        }
        input {
          outline: none;
        }
        .cv_contact_form_elem {
          border: 2px solid rgb(255, 255, 255);
          outline: none;
          color: #ffffff;
          outline-offset: 0;
          width: 100%;
          border-radius: 10px;
          background: rgba(252, 253, 255, 0.15);
          box-shadow: none;
          &::placeholder {
            color: white;
          }
        }
        #cv_input_message {
          height: 250px;
          vertical-align: top;
          background: rgba(252, 253, 255, 0.15);
          border: 2px solid rgb(255, 255, 255);
          color: #ffffff;
          margin-top: 10%;
          outline: none;
          padding: 2%;
          border-radius: 10px;
          &::placeholder {
            color: white;
          }
          @media (max-width: 575.98px) {
            margin: 5%;
            height: 150px;
          }
        }
        .cv_btn__pos {
          margin: 0 auto;
          display: inline-block;
          padding-bottom: 5%;
          padding-top: 10%;
          @media (max-width: 575.98px) {
            padding-top: 5%;
            padding-bottom: 5%;
          }
          .cv_contact_btn {
            outline: none;
            outline-offset: 0;
            background: rgb(255, 81, 47);
            background: -webkit-linear-gradient(to left, rgb(240, 152, 25), rgb(255, 75, 55));
            background: linear-gradient(to left, rgb(240, 152, 25), rgb(255, 49, 38));
            border: none;
            text-transform: uppercase;
            font-family: 'Montserrat Subrayada', sans-serif;
            font-weight: bold;
            height: 50px;
            color: #ffffff;
            margin: 0 auto;
            display: block;
            &:hover {
              background: #ffffff;
              color: #000000;
            }
            @media (max-width: 575.98px) {
              margin: 0 auto;
            }
          }
        }
      }
      .separate {
        position: relative;
        text-align: center;
        font-weight: bold;
        font-family: 'Tomorrow', sans-serif;
        font-size: 18px;
        &::before {
          content: " ";
          display: block;
          position: absolute;
          width: calc(100% / 2 - 60px);
          left: 0;
          top: 50%;
          border-bottom: 3px solid rgb(255, 49, 38);
          box-sizing: border-box;
        }
        &::after {
          content: " ";
          display: block;
          position: absolute;
          width: calc(100% / 2 - 60px);
          left: auto;
          right: 0;
          top: 50%;
          border-bottom: 3px solid rgb(255, 81, 47);
          box-sizing: border-box;
        }
      }
      a {
        color: #e2e3e5;
        font-weight: bold;
        font-family: 'Tomorrow', sans-serif;
        font-size: 16px;
        padding-top: 1%;
        padding-bottom: 0.5%;
      }
    }
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}

@media (max-width: 320.98px) {

}